.spectacular-wrapper {
  background: $ui-02;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  min-height: 400px;
  padding-top: 5rem;
  padding-bottom: 3rem;

  & > * {
    max-width: 38rem;
  }

  &__header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__filter-btn {
    cursor: pointer;
    width: 3rem;
    height: 50px;
    background: $ui-02;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;

    &:hover {
      .filter-icon {
        fill: $brand-02;
      }
    }

    .filter-icon {
      fill: $brand-01;
    }
  }

  > div:nth-child(2) {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .checkboxes {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    transition: 300ms ease;
    z-index: 1;
    height: 50px;

  .bx--radio-button-group {
    margin: 0;
  }
  }

  .bx--form-item.bx--checkbox-wrapper {
    margin: 1rem;
  }

  .bx--form-item.bx--checkbox-wrapper:first-of-type {
    margin-top: 1rem;
  }

  .bx--form-item.bx--checkbox-wrapper:last-of-type {
    margin-bottom: 1rem;
  }

  .bx--breadcrumb {
    font-size: 0;
  }

  .bx--breadcrumb-item:after {
    font-size: 14px;
  }

  .bx--breadcrumb-item:last-of-type {
    margin-right: 0;

    &::after {
      margin-right: 0;
    }
  }
}

.parent-component:hover {
  cursor: pointer;
}

.twin-component {
  position: absolute;
  display: none;
  border-style: solid;
  pointer-events: none;
  transition: opacity 300ms ease;
  opacity: 1;

  &.active {
    display: block;
  }
}

.margin,
.padding,
.dimensions {
  display: none;
}

.margin.active,
.padding.active,
.dimensions.active {
  display: block;
}

.twin-component.margin {
  box-sizing: content-box;
}

.dimensions {
  opacity: 1;
  display: block;
  z-index: 9999;

  &.height {
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        content: '|';
        color: #FC38FC;
        position: absolute;
        top: -6px;
        right: -3px;
        transform: rotate(90deg);
        font-size: 12px;
      }

      &:before {
        content: '|';
        color: #FC38FC;
        position: absolute;
        bottom: -6px;
        right: -3px;
        transform: rotate(90deg);
        font-size: 12px;
      }

      p {
        position: absolute;
        right: -40px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  &.width {
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        content: '|';
        color: #FC38FC;
        position: absolute;
        bottom: -6px;
        left: 0;
        font-size: 12px;
      }

      &:before {
        content: '|';
        color: #FC38FC;
        position: absolute;
        bottom: -6px;
        right: -2px;
        font-size: 12px;
      }

      p {
        position: absolute;
        bottom: -30px;
        left: 45%;
      }
    }
  }

  span p {
    @include layer('overlay');
    padding: 0 4px;
    font-size: 12px;
    color:#007D7D;
    background-color: white;
    border-radius: 5px;
    color: #FC38FC;
    height: 16px;
  }
}

.interactive-mode-checkbox {
  position: absolute;
  right: 0;
}

.spectacular-wrapper__table {
  position: absolute;
  bottom: 0;
  left: 0;
}

.margin {
  span.top,
  span.right,
  span.bottom,
  span.left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 1;

    p {
      @include layer('overlay');
      padding: 0 4px;
      font-size: 12px;
      color:#007D7D;
      background-color: white;
      border-radius: 5px;
    }

    p:empty {
      display: none;
    }
  }
}

.padding {
  span.top,
  span.right,
  span.bottom,
  span.left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 1;
    z-index: 9999;

    p {
      @include layer('overlay');
      padding: 0 4px;
      font-size: 12px;
      color:#007D7D;
      background-color: white;
      border-radius: 5px;
    }

    p:empty {
      display: none;
    }
  }

  span.top,
  span.bottom {
    width: auto;
    height: auto;
  }
}

.twin-component span p {
  opacity: 0 !important;
}

.parent-component:hover > .twin-component span p {
  opacity: 1 !important;
}
