.spectacular-wrapper {
  background: $ui-02;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  // max-width: 38rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  min-height: 400px;

  & > * {
    max-width: 38rem;
  }

  &__header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__filter-btn {
    cursor: pointer;
    width: 3rem;
    height: 50px;
    background: $ui-02;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;

    &:hover {
      .filter-icon {
        fill: $brand-02;
      }
    }

    .filter-icon {
      fill: $brand-01;
    }
  }

  > div:nth-child(2) {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .checkboxes {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 4rem;
    margin-left: 1rem;
    transition: 300ms ease;
    transform: translateX(-100%);
    z-index: 1;
    height: 50px;

  .bx--radio-button-group {
    margin: 0;
  }

    &--active {
      transform: translateX(50px);
    }
  }

  .bx--form-item.bx--checkbox-wrapper {
    margin: 1rem;
  }

  .bx--form-item.bx--checkbox-wrapper:first-of-type {
    margin-top: 1rem;
  }

  .bx--form-item.bx--checkbox-wrapper:last-of-type {
    margin-bottom: 1rem;
  }

  .bx--breadcrumb {
    font-size: 0;
  }

  .bx--breadcrumb-item:after {
    font-size: 14px;
  }

  .bx--breadcrumb-item:last-of-type {
    margin-right: 0;

    &::after {
      margin-right: 0;
    }
  }
}

.parent-component:hover {
  cursor: pointer;

  .twin-component {
    opacity: 1;
  }
}

.twin-component {
  position: absolute;
  display: none;
  border-style: solid;
  pointer-events: none;
  transition: opacity 300ms ease;
  opacity: 0;

  &.active {
    display: block;
  }
}

.margin,
.padding,
.dimensions {
  display: none;
}

.margin.active,
.padding.active,
.dimensions.active {
  display: block;
}

.twin-component.margin {
  box-sizing: content-box;
}

.dimensions {
  opacity: 1;
  display: block;
  z-index: 9999;

  &.height {
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      &:after {
        content: '|';
        color: #FC38FC;
        position: absolute;
        top: -6px;
        right: -3px;
        transform: rotate(90deg);
        font-size: 12px;
      }

      &:before {
        content: '|';
        color: #FC38FC;
        position: absolute;
        bottom: -6px;
        right: -3px;
        transform: rotate(90deg);
        font-size: 12px;
      }

      p {
        font-size: 12px;
        color: white;
        position: absolute;
        right: -50px;
        padding: .5rem;
        background-color: #FC38FC;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  &.width {
    span {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      &:after {
        content: '|';
        color: #FC38FC;
        position: absolute;
        bottom: -6px;
        left: 0;
        font-size: 12px;
      }

      &:before {
        content: '|';
        color: #FC38FC;
        position: absolute;
        bottom: -6px;
        right: -2px;
        font-size: 12px;
      }

      p {
        font-size: 12px;
        color: white;
        position: absolute;
        bottom: -30px;
        left: 45%;
        padding: .5rem;
        background-color: #FC38FC;
      }
    }
  }

  span p {
    height: 20px;
    padding: 0 .5rem;
    line-height: .25;
    margin-left: 1rem;
  }
}

.interactive-mode-checkbox {
  position: absolute;
  right: 0;
}

.spectacular-wrapper__table {
  position: absolute;
  bottom: 0;
  left: 0;
}
